html,body {
    /*font-family: 'Ubuntu Mono', monospace; */
	font-family: 'haxrcorpttf', monospace;
    font-size: 20px;
    background: #2e3440;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
    
}

	img {
    height: 250px;
    width: 600px;
    object-fit: fill;
    border: 2px solid #81a1c1;
    /* border-bottom: none; */
    margin-bottom: -7px;
} 
nav {
    color: #81a1c1;
    background-color: #3b4252;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #81a1c1;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

ul {
    list-style-type: none;
    margin-left: -40px;
    margin-top: 5px;
    margin-bottom: 5px;



}

/* div.user {
    background-color: #262434;
    color: white;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 3px;
    border: 1px solid white;
}

div.taskbar {
    color: #81a1c1;
    background-color: #262434;
    border: 1px solid #81a1c1;
    padding: 3px;   
} */

.clock-box {
    position: relative;
    color: #81a1c1;
    background-color: #2e3440;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #81a1c1;
}

a:hover {
  text-decoration: underline;
  color: #88c0d0
  }

input {
    background-color: #3b4252;
    font: 20px 'haxrcorpttf', monospace;
    color: #88c0d0;
    height: 100%;
    width: 100%;
    border: 2px solid #81a1c1;
    border-top: none;
    text-align: center;
    margin-top: 0px;
    outline: none;
    padding: 5px;
  }

input::placeholder {
	color: #88c0d0;
}
